<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Version" value="1.0.0" />
		<add key="UrlInstalador" value="https://1722.test/installSoporteKM.msi" />
	</appSettings>
</configuration>