<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!-- Definición del producto -->
	<Product Id="{228A39CB-F9C2-4DC8-BF20-842CE9387FF8}"
             Name="SoporteKM"
             Language="1033"
             Codepage="1252"
             Version="1.0.3.2"
             Manufacturer="Konica Minolta Business Solutions Spain"
             UpgradeCode="90ab0642-7e3d-47f1-ad73-292b68e42e81">

		<!-- Configuración del paquete -->
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<!-- Gestiona las actualizaciones posteriores. Estos MSI de actualización deben tener igual UpgradeCode, distinto Id y una versión superior-->
		<MajorUpgrade DowngradeErrorMessage="Ya hay instalada una versión más reciente de [ProductName]." />
		<MediaTemplate EmbedCab="yes" />

		<!-- Características del producto -->
		<Feature Id="ProductFeature" Title="SoporteKM" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductComponentsApp" />
		</Feature>

		<!-- Icono en "Agregar o quitar programas" -->
		<Icon Id="icon.ico" SourceFile="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\soportekm.exe" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		
	</Product>

	<!-- Definición de directorios -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SoporteKM">
					<Directory Id="AppFolder" Name="app" />
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<!-- Componentes del producto -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="{2378A82C-EF24-4FB3-924F-398982D09CD1}">
				<!-- Archivo principal -->
				<File Id="SoporteKM" Name="soporteKM.exe" DiskId="1" Source="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\soporteKM.exe" KeyPath="yes">
					<!-- Acceso directo escritorio -->
					<Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="Soporte Konica Minolta" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" IconIndex="0" Advertise="yes"/>
				</File>

				<!-- Configuración del archivo -->
				<File Id="SoporteKMconfig" Name="soporteKM.exe.config" DiskId="1" Source="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\soporteKM.exe.config" />

				<!-- Registro (ahora es per-machine) -->
				<RegistryValue Root="HKLM" Key="Software\Konica\SoporteKM" Name="installed" Type="integer" Value="1" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ProductComponentsApp" Directory="AppFolder">
			<!-- Componente para el archivo TeamViewerQS.exe -->
			<Component Id="ProductComponentApp" Guid="{DD32F5E1-F238-4058-B6BC-997C0E43D815}">
				<File Id="TeamViewerFile" Name="TeamViewerQS.exe" DiskId="1" Source="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\App\TeamViewerQS.exe" KeyPath="no" />
				<File Id="dotnet472installer" Name="ndp472-kb4054530-x86-x64-allos-enu.exe" DiskId="1" Source="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\App\ndp472-kb4054530-x86-x64-allos-enu.exe" KeyPath="no" />
				<CreateFolder />
				<!-- Agrega esta línea para crear la carpeta AppFolder -->
			</Component>
		</ComponentGroup>

	</Fragment>


</Wix>


