<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{59903F38-416E-43B5-A31D-9F1950CBE8C2}" 
			 Name="soporteKM" 
			 Language="1033" 
			 Codepage="1252" 
			 Version="1.0.0.0" 
			 Manufacturer="Konica Minolta Business Solutions Spain" 
			 UpgradeCode="90ab0642-7e3d-47f1-ad73-292b68e42e81">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<!-- Gestiona las actualizaciones posteriores. Estos MSI de actualización deben tener igual UpgradeCode, distinto Id y una versión superior-->
		<MajorUpgrade DowngradeErrorMessage="Ya hay instalada una versión más reciente de [ProductName]." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="soporteKM" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<!--Se agrega el icono en Add/Remove programs.-->
		<Icon Id="icon.ico" SourceFile="C:\Users\Miguel.Robiras\OneDrive - KME\Imágenes\icon_Konica.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		
	</Product>

	<!-- Se crea el directorio dependiendo de la arquitectura -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SoporteKM" />
			</Directory>
		</Directory>
	
		<Directory Id="DesktopFolder" Name="Desktop" />
	
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="{2378A82C-EF24-4FB3-924F-398982D09CD1}">
				<File Id="SoporteKM" Name="soporteKM.exe" DiskId="1" Source="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\soporteKM.exe" KeyPath="no">
					<Shortcut Id="ApplicationDesktopShortcut" Directory="DesktopFolder" Name="SoporteKM" Description="Soporte Técnico Konica" Target="soporteKM.exe" WorkingDirectory="INSTALLFOLDER" Icon="soporteKM.exe" IconIndex="0" Advertise="yes">
						<Icon Id="soporteKM.exe" SourceFile="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\soporteKM.exe" />
					</Shortcut>
				</File>
				<File Id="SoporteKMconfig" Name="soporteKM.exe.config" DiskId="1" Source="C:\Users\Miguel.Robiras\source\repos\soporteKM\soporteKM\bin\Debug\soporteKM.exe.config" />
				<RegistryValue Root="HKCU" Key="Software\Konica\SoporteKM" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>


		</ComponentGroup>
	</Fragment>
</Wix>
